h1 {
    text-align: center;
    color:seagreen;
}
p {
    font-size: 25px;
    color:rgb(61, 61, 119);
    display: inline-block;
}
img {
    width:400px;
    float: left;
    width: 33%;
    padding: 1px;
}
.top {
    font-size:1cm;
    font-style: oblique;
}
div ol li {
    color:rgb(117, 7, 7);
    font-size: 25px;
    font-family:monospace;
}
div ul li {
    color:rgb(23, 119, 114);
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}