h1 {
    text-align: center;
    color:seagreen;
}
p {
    font-size: 25px;
    color:rgb(61, 61, 119);
    display: inline-block;
}
img {
    width:400px;
    float: left;
    width: 33%;
    padding: 1px;
}