nav ul li  {
    background-color:#eb73af ;
    border-width: 2px;
    border-radius: 5px;
    font-size: 20px;
    display: inline-block;  
}

li a:hover:not(.active) {
    background-color:#dfdbdb;    
}

p {
    font-size: 25px;
    color:#474646;
   font-family: 'New Tegomin', serif;; 
}

section img {
    width: 70%;
    height: auto;
    -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
    float: left;
    padding-right: 10px;
}
.top {
    font-size:1cm;
    font-style: oblique;
}

body {
    background-color:#89e1f3 ;
}

li {
    padding: 8px;
    margin-bottom: 7px;
}
.coder {
    float: right;
    width: 60%;
}
div  {
    width:180px;
    float:left;
    margin:5px;
}
div img {
    border-width: 2px;
    border-radius: 15px;
}
h1 {
    text-align: center;
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#4e4d4d;
}
div ul li p {
    text-align: center;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#4e4d4d;
    
}